*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

Body{
    font-family: 'Zilla Slab', serif;
    text-align: center;
    background: rgb(214, 214, 131);
}
.hidden {
    display: none;
}

header{
    width:100%;
    padding: 10px;
    border-bottom: solid 3px black;
    background-image: linear-gradient(to left, rgb(133, 170, 250), rgb(14, 137, 252))
}

h2,fieldset{
    margin: 20px 0;
}


fieldset{
    width: 99%;
    height: 100px;
    margin:auto;
    font-weight: bolder;
    background-image: linear-gradient(to left, rgb(133, 170, 250), rgb(14, 137, 252))

}

.inputBreed{
    padding-top: 40px;
}

legend{
    text-align: left;
    padding: 0 5px 8px 5px;
}
 
img{
    width: 300px;
    height: 200px;
    margin: 3px;
    border: 2px solid white;
}

h3{
    margin: 20px 0;
}

#error{
    width: 90%;
    height: 100px;
    margin:auto;
    background: tan;
    font-size: 20px;

}

#error p{
    font-size: 26px;
    color:red;
    margin: 5px;
  
}


#search{
    width: 120px;
    height: 20px;
   
}

.inputBreed{
    padding: 25px 1px 0 1px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
button {
    width: 50px;
    height: 20px;
}



@media Screen and (min-width:430px){
    
h2,fieldset{
    margin: 20px 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

fieldset{
    width: 95%;
    height: 100px;
    margin:auto;
}



img{
    width: 400px;
    height: 240px;
    margin: 3px;
    border: 2px solid white;
}

h3{
    margin: 10px 0;
}


#error{
    width: 80%;
    height: 100px;
    margin:auto;
    background: tan;
    font-size: 20px;

}

#error p{
    font-size: 36px;
    color:red;
    margin: 5px;
  
}


#search{
    width: 320px;
    height: 30px;
   
}

.inputBreed{
    padding: 25px 1px 0 1px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}
button {
    width: 70px;
    height: 30px;
}

}

@media screen and (min-width: 820px){

       
h2,fieldset{
    margin: 30px 0;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
    margin-top: 30px;
}

fieldset{
    width: 85%;
    height: 100px;
    margin:auto;
}
legend{
    font-size: 18px;
}

#search{
    width: 480px;
    height: 30px;
    padding: 0px 10px;
}

.inputBreed{
    padding: 20px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}
button {
    width: 80px;
    height: 30px;
}

img{
    width: 420px;
    height: 260px;
    margin: 3px;
    border: 2px solid white;
}


}